body {
  font-family: 'Slackey', cursive; 

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

#buttonHolder {
  display: flex;
  flex-direction: row;
}

#masthead {
  font-family: 'Slackey', cursive;
}

#lobbydiv{
  display: flex;
  justify-content: center;
  align-content: center;
}



#central {
  display: flex;
  flex-direction: column
}

.belowTextField {
  display: flex;
  flex-direction: column;
}

#icon {
  height: 3em;
  width: auto;
}


#controls {
  font-family: 'Slackey', cursive;

}