
@import "~pixelcowboy";

body {
  font-family: pixelcowboy;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

#buttonHolder {
  display: flex;
  flex-direction: row;
}
